name: security-baseline

on:
  push:
    branches:
      - "**"
  pull_request:

permissions: read-all

jobs:
  security-baseline:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - name: Baseline CI check
        run: |
          echo "Security baseline workflow is active"
